<!DOCTYPE html>
<html>

<head>
	<title>My Messaging App</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
</head>

<body>
	<div class="search-bar">
		<input type="text" placeholder="Enter for search...">
		<p style="margin-left: 20px"><button class="btn-search-add"><i class="fas fa-search"></i></button></p>
	</div>
	<div style="overflow: hidden; padding: 20px; font-size: small">
		<p style="float: left; color: gray;">Sort By:</p>
		<p style="float: left; margin-left: 2px;"><select>
				<option value="option1" selected>Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
			</select></p>
		<p style="float: right; margin-right: 5px; color: gray;"><button class="btn-search-add"><i
					class="fas fa-circle-plus"></button></i>
		</p>
		<p style="float: right; margin-right: 7px; color: gray;">Add New</p>
	</div>

	<button class="transparent-button">
		<div class="friend-container">
			<img class="friend-avatar" src="../Images/André_Onana.jpg" alt="Avatar">
			<div class="friend-details">
				<div class="friend-info">
					<label class="friend-name">Onana</label><br>
					<label class="friend-status"><span class="status-dot-online"></span>Online </label>
				</div>
			</div>
		</div>
		<div class="message">
			<div class="content">I am the SpiderMan!!!</div>
			<div class="timestamp">10:30 AM</div>
		</div>
	</button>
	<button class="transparent-button">
		<div class="friend-container">
			<img class="friend-avatar" src="../Images/SangTraan.jpg" alt="Avatar">
			<div class="friend-details">
				<div class="friend-info">
					<label class="friend-name">Sang Traan</label><br>
					<label class="friend-status"><span class="status-dot-offline"></span>Offline</label>
				</div>
			</div>
		</div>
			<div class="message">
				<div class="content">Yes sirrrrr!!!!!!</div>
				<div class="timestamp">Yesterday</div>
			</div>
	</button>
	<button class="transparent-button">
		<div class="friend-container">
			<img class="friend-avatar" src="../Images/Archetto.jpg" alt="Avatar">
			<div class="friend-details">
				<div class="friend-info">
					<label class="friend-name">Archetto</label><br>
					<label class="friend-status"><span class="status-dot-online"></span>Online</label>
				</div>
			</div>
		</div>
		<div class="message">
			<div class="content">Laterano</div>
			<div class="timestamp">2 days ago</div>
		</div>
	</button>
	<script type="module">
		document.addEventListener('DOMContentLoaded', function () {
			var buttons = document.getElementsByClassName('transparent-button');

			for (var i = 0; i < buttons.length; i++) {
				buttons[i].addEventListener('click', function () {
					for (var j = 0; j < buttons.length; j++) {
						buttons[j].classList.remove('active');
					}
					this.classList.add('active');
				});
			}
		});
	</script>
</body>

</html>