<!DOCTYPE html>
<html>
	<head>
		<title>My Messaging App</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="search-bar">
			<input type="text" placeholder="Enter for search...">
			<p style="margin-left: 20px"><i class="fas fa-search"></i></p>
		</div>
		<div style="overflow: hidden; padding: 10px; font-size: small">
			<p style="float: left; color: gray;">Sort By:</p>
			<p style="float: left; margin-left: 5px;">Latest First</p>
			<p style="float: left; margin-left: 2px; color: black;"><i class="fa-solid fa-chevron-down"></i>
			</p>
			<p style="float: right; margin-right: 5px; color: gray;"><i class="fas fa-circle-plus"></i>
			</p>
			<p style="float: right; margin-right: 7px; color: gray;">Add New</p>
		</div>

		<button class="transparent-button">
			<div class="message">
				<div class="sender">Onana</div>
				<div class="status">Online</div>
				<div class="content">I am the SpiderMan!!!</div>
				<div class="timestamp">10:30 AM</div>
			</div>
		</button>
		<button class="transparent-button">
			<div class="message">
				<div class="sender">Sang Traan</div>
				<div class="status">Offline</div>
				<div class="content">Yes sirrrrr!!!!!!</div>
				<div class="timestamp">Yesterday</div>
			</div>
		</button>
		<button class="transparent-button">
			<div class="message">
				<div class="sender">Archetto</div>
				<div class="status">Online</div>
				<div class="content">Bread or Beer?</div>
				<div class="timestamp">2 days ago</div>
			</div>
		</button>
	</body>
</html>