<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="user-container">
        <img class="user-avatar" src="../Images/avatar.jpg" alt="Avatar">
        <div class="user-details">
            <div class="user-info">
                <label class="user-name">Truong Viet Long</label>
                <label class="user-status"><span class="status-dot-online"></span>Online </label>
            </div>
            <button class="btn_profile" name="btn-profile" id="btn-profile">
                <div class="icon-info">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
            </button>
        </div>
    </div>
    <div class="message_area">
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
        <div class="message-chat you">
            <p>This is a message from you.</p>
        </div>
        <div class="message-chat friend">
            <p>This is a message from another person.</p>
        </div>
    </div>
    <div class="type">
        <button type="button" onClick="openFileUploader()">
            <div class="icon-info"><i class="fa-solid fa-paperclip"></i></div>
        </button>
        <input type="file" name="file-upload" id="file-upload" style="display: none;">
        <input type="text" name="input-message" id="input-message" placeholder="Type a message here..."
            autocomplete="off">
        <button type="button" name="emoji-button" id="emoji-button">
            <div class="icon-info"><i class="fa-solid fa-face-smile"></i></div>
        </button>
        <div class="emoji-list" id="emoji-list">

        </div>
        <button type="button" class="send-button" name="send-button">
            <div class="icon-info"><i class="fa-solid fa-paper-plane fa-sm"></i></div>
        </button>
    </div>

    <script src="..\node_modules\socket.io\client-dist\socket.io.js"> 
        // Kết nối tới server thông qua Socket.IO
        const socket = io();
        socket.on('connect', function () {
            console.log('Đã kết nối thành công tới server');
        });
        window.onload = function () {         
            scrollToBottom();
            document.querySelector('.send-button').addEventListener('click', function () {
                var inputMessage = document.querySelector('input[name="input-message"]');
                if (inputMessage.value.trim() === '') {
                    inputMessage.value = '';
                    var placeholders = [
                        'Nhập vào đi bạn ơi!!!',
                        'Biết đọc không???',
                        'Để khoảng trắng sao mà nhắn được???',
                        'Bố mày biết rồi không được đâu con ơi!',
                        'Có biết dùng chat không???'
                    ];
                    inputMessage.setAttribute('placeholder', placeholders[Math.floor(Math.random() * placeholders.length)]);
                } else {
                    var messageArea = document.querySelector('.message_area');
                    var newMessage = document.createElement('div');
                    newMessage.classList.add('message-chat', 'you');
                    var newMessageText = document.createTextNode(inputMessage.value);
                    newMessage.appendChild(newMessageText);
                    messageArea.appendChild(newMessage);
                    // Gửi tin nhắn mới tới server thông qua Socket.IO
                    socket.emit('chatMessage', inputMessage.value);
                    inputMessage.value = '';
                    inputMessage.placeholder = 'Type a message here...'
                    scrollToBottom();
                }
            });
          
            // Lắng nghe sự kiện nhận tin nhắn từ server và hiển thị trong chat
            socket.on('message', function (message) {
                var messageArea = document.querySelector('.message_area');
                var newMessage = document.createElement('div');
                newMessage.classList.add('message-chat', 'friend');
                var newMessageText = document.createTextNode(message);
                newMessage.appendChild(newMessageText);
                messageArea.appendChild(newMessage);
                scrollToBottom();
            });
          }
        document.getElementById("btn-profile").addEventListener("click", function () {
            window.parent.postMessage('toggleProfile', '*');
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.querySelector('.send-button').click();
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            const emojiButton = document.getElementById('emoji-button');
            const emojiList = document.getElementById('emoji-list');
            const inputMessage = document.getElementById('input-message');
            const emojis = [];
            for (let i = 0x1F600; i <= 0x1F64F; i++) {
                emojis.push(String.fromCodePoint(i));
            }
            emojis.forEach(emoji => {
                const emojiBtn = document.createElement('button');
                emojiBtn.innerText = emoji;
                emojiBtn.addEventListener('click', function () {
                    inputMessage.value += emoji;
                    emojiList.style.display = 'none';
                });
                emojiList.appendChild(emojiBtn);
            });
            emojiButton.addEventListener('click', function () {
                emojiList.style.display = (emojiList.style.display === 'block') ? 'none' : 'block';
            });
            document.addEventListener('click', function (event) {
                if (!emojiButton.contains(event.target) && !emojiList.contains(event.target)) {
                    emojiList.style.display = 'none';
                }
            });
        });
        socket.on('message', function (message) {
            var messageArea = document.querySelector('.message_area');
            var newMessage = document.createElement('div');
            newMessage.classList.add('message-chat', 'friend');
            var newMessageText = document.createTextNode(message);
            newMessage.appendChild(newMessageText);
            messageArea.appendChild(newMessage);
            scrollToBottom();
        });
        function openFileUploader() {
            var fileInput = document.getElementById('file-upload');
            fileInput.click();
        }
    </script>
</body>

</html>