<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
    <div class="user-container">
        <div class="avatar-container">
            <img class="user-avatar" src="../Images/avatar.jpg" alt="Avatar">
        </div>
        <div class="user-details">
            <div class="user-info">
                <label class="user-name">Truong Viet Long</label>
                <label class="user-status"><span class="status-dot"></span>Online </label>
            </div>
            <div class="info-logo">
                <img class="info-icon" src="/Images/icons8-three-dots-30.png" alt="Info Icon">
            </div>
        </div>
    </div>
    <div class="message_area">
        <div class="message_area">
            <div class="message_area">
                <div class="message you">
                    <p>This is a sample message from you.</p>
                </div>
                <div class="message friend">
                    <p>This is a sample message from another person.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>