<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <frameset border="" cols="80,340,*,300">
        <frame name="frame1" src="bar_1.html" scrolling="no" noresize>
            <frame name="frame5" src="bar_2.html" scrolling="auto" noresize>
                <frame name="frame5" src="chat_area.html" scrolling="no" noresize></frame>
                <frame name="frame5" src="null" scrolling="no" noresize></frame>
    </frameset>
</head>
<noframes>

    <body>

    </body>
</noframes>

</html>