<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="avatar-profile">
        <img class="user-avatar-profile" src="../Images/avatar.jpg" alt="Avatar">
    </div>
    <div class="in4-profile"><label id="user_name">Truong Viet Long</label></div>
    <div class="in4-profile"><label id="phone">0374512542</label></div>
    <div class="in4-profile"><label id="email">tvlong@gmail.com</label></div>
    <div class="file"></div>
</body>
</html>