@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Bar1 */
.vertical-bar {
  height: 100vh;
  background-color: #2b2b2b;
  border-left: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.icon-user,
.icon,
.icon-gear {
  color: gray;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-user {
  margin: 20px 0 50px 0;
}

.icon {
  margin: 20px;
}

.icon-gear {
  margin: 50px 0 20px 0;
}

.icon-user:hover,
.icon:hover,
.icon-gear:hover {
  color: white;
}

/* Bar2 */
body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

select {
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.search-bar input[type="text"] {
  background-color: rgb(240, 240, 240);
  border: none;
  color: black;
  flex-grow: 1;
  padding: 10px;
  border-radius: 25px;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 30px;
}

.message .sender {
  font-weight: bold;
}

.message .status {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message .content {
  margin-top: 5px;
}

.message .timestamp {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  margin-right: 20px;
}

.btn-search-add {
  display: flex;
  background-color: transparent;
  margin-left: auto;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.btn-search-add:hover {
  color: #666;
}

.transparent-button {
  width: 100vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}

.transparent-button:hover {
  background-color: rgb(240, 240, 240);
}

.transparent-button.active {
  background-color: rgb(225, 225, 225);
}

/* Friend */
.user-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover
}

.user-details {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-style: bold;
}

.user-status {
  font-size: 10px;
  margin: 0;
  font-style: italic;
  color: gray;
  padding-top: 2px;
}

.btn_profile {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
}

.status-dot {
  width: 4px;
  height: 4px;
  background-color: rgb(32, 179, 32);
  border-radius: 50%;
  display: inline-block;
  padding: 1px;
  margin-right: 2px;
  margin-bottom: 1.8px;
}

/* Message Area */
.message_area {
  height: 84vh;
  overflow-y: auto;
  background-color: #f0f0f0;
}

.icon-info {
  display: flex;
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.icon-info:hover {
  color: #666;
}

.message-chat {
  font-size: 13px;
  padding: 10px;
  margin: 3px 10px 5px 3px;
  border-radius: 50px;
  clear: both;
}

.you {
  background-color: gray;
  color: #fff;
  float: right;
  box-shadow: 3px 3px 5px #666;
}

.friend {
  background-color: white;
  color: #333;
  float: left;
  box-shadow: 3px 3px 5px #666;
}

/* Input */
.type {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 12px;
}

.type input[type="text"],
.type input[type="file"],
.type button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.type input[type="text"] {
  background-color: rgb(240, 240, 240);
  border: none;
  color: black;
  flex-grow: 1;
  padding: 10px;
  border-radius: 25px;
}

.type button {
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.type input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.type label {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

.type label {
  display: inline-block;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

/*Profile*/
.avatar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.user-avatar-profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-name-profile {
  font-size: larger;
  padding-top: 20px;
}

.user-location {
  color: gray;
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 15px;
}

.user-decription {
  font-size: small;
  padding-top: 2px;
}

.user-social-media {
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}

.btn-social-media {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: xx-large;
  transition: background-color 0.3s ease;
  padding: 20px;
}

.btn-delete {
  display: flex;
  background-color: transparent;
  margin-left: auto;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
  padding: 23px 20px 0 0
}

.btn-social-media:hover,
.btn-delete:hover {
  color: #666;
}

.user-info-profile {
  padding: 15px;
  border-bottom: 1px solid #666;
}

.user-file {
  font-size: small;
  padding: 20px;
  padding-left: 40px;
  color: gray;
}

.user-show-file {
  font-size: small;
  padding-left: 40px;
  color: gray;
}

.border {
  height: 100vh;
  border-right: 5px solid green;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}