@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  background-color: #ebebeb;
}

.title {
  margin: 20px 0;
}

.container {
  display: flex;
}

.main {
  border: 8px solid #dddddd;
  border-radius: 24px;
  overflow: hidden;
  flex-grow: 1;
  margin-right: 350px;
}

.name {
  display: flex;
  width: 300px;
  height: 100px;
  font-size: 32px;
  font-weight: 700;
  color: #7e7e7e;
  background-color: #ebebeb;
  border: 8px solid #dddddd;
  border-radius: 24px;
  margin-right: 30px;
}

.name>span {
  color: #bbb;
  margin-left: 10px;
}

.name-input {
  font-size: 24px;
  font-weight: 700;
  color: #7e7e7e;
  flex-grow: 1;
  border: none;
  margin: 8px 12px;
  outline: none;
  background-color: #ebebeb;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-image {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
}
.message-image-item{
  max-width: 100%;
  max-height: 300px;
  cursor: pointer;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: #2d2d2d;
  box-shadow: 2px 2px 4px #dcdcdc;
  color: #f6f6f6;
}

.message-left>p>span,
.message-right>p>span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.button-upload {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 6px;
  outline: none;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.button-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button-upload .icon {
  display: inline-block;
  padding: 8px 12px;
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.v-divider {
  height: 48px;
  width: 2px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 20px 0;
  color: #7e7e7e;
}

.image-label {
  position: absolute;
  top: 660px;
  left: 48.8%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 60px;
  display: none;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
}

.image-preview {
  margin: 5px 10px 0px 10px;
  max-width: 50px;
  max-height: 50px;
  border: 2px solid silver;
  border-radius: 5px;
  cursor: pointer;
}

.close-image {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #000;
  background: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 0 0 0 5px;
  transform: translate(50%, -50%);
}

.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
}

.close-fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.image-item {
  position: relative;
}

.delete-image {
  position: absolute;
  top: 0;
  right: 8%;
  cursor: pointer;
  font-size: medium;
  background-color: transparent;
  color: #000;
}

.error {
  position: absolute;
  width: 500px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
}

.error-icon {
  padding-top: 40px;
  color: #49a8e7;
  font-size: 100px;
  margin-bottom: 10px;
}

.error p {
  color: black;
  font-size: larger;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  color: #333;
}